<a href="https://colab.research.google.com/github/mongvuot336699/BT-matrix/blob/master/trung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
import warnings
warnings.filterwarnings('ignore')
from scipy.sparse import hstack, csr_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
# data_train = pd.read_csv('train.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head(2)
test.head(2)

      No Hobby  ...                         SurveyTooLong SurveyEasy
0  33858    No  ...                                   NaN        NaN
1  33859   Yes  ...  The survey was an appropriate length  Very easy

[2 rows x 127 columns]

In [6]:
train.shape

(33857, 128)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33857 entries, 0 to 33856
Columns: 128 entries, No to SurveyEasy
dtypes: float64(41), int64(1), object(86)
memory usage: 33.1+ MB

In [8]:
train.isnull().any().sum()

122

In [9]:
train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33857 entries, 0 to 33856
Data columns (total 128 columns):
 #   Column                       Dtype
---  ------                       -----
 0   No                           int64
 1   Hobby                        object
 2   OpenSource                   object
 3   Country                      object
 4   Student                      object
 5   Employment                   object
 6   FormalEducation              object
 7   UndergradMajor               object
 8   CompanySize                  object
 9   DevType                      object
 10  YearsCoding                  object
 11  YearsCodingProf              object
 12  JobSatisfaction              object
 13  CareerSatisfaction           object
 14  HopeFiveYears                object
 15  JobSearchStatus              object
 16  LastNewJob                   object
 17  AssessJob1                   float64
 18  AssessJob2                   float64
 19  AssessJob3                   float64
 20  AssessJob4                   float64
 21  AssessJob5                   float64
 22  AssessJob6                   float64
 23  AssessJob7                   float64
 24  AssessJob8                   float64
 25  AssessJob9                   float64
 26  AssessJob10                  float64
 27  AssessBenefits1              float64
 28  AssessBenefits2              float64
 29  AssessBenefits3              float64
 30  AssessBenefits4              float64
 31  AssessBenefits5              float64
 32  AssessBenefits6              float64
 33  AssessBenefits7              float64
 34  AssessBenefits8              float64
 35  AssessBenefits9              float64
 36  AssessBenefits10             float64
 37  AssessBenefits11             float64
 38  JobContactPriorities1        float64
 39  JobContactPriorities2        float64
 40  JobContactPriorities3        float64
 41  JobContactPriorities4        float64
 42  JobContactPriorities5        float64
 43  JobEmailPriorities1          float64
 44  JobEmailPriorities2          float64
 45  JobEmailPriorities3          float64
 46  JobEmailPriorities4          float64
 47  JobEmailPriorities5          float64
 48  JobEmailPriorities6          float64
 49  JobEmailPriorities7          float64
 50  UpdateCV                     object
 51  Currency                     object
 52  SalaryType                   object
 53  Salary                       float64
 54  CurrencySymbol               object
 55  CommunicationTools           object
 56  TimeFullyProductive          object
 57  EducationTypes               object
 58  SelfTaughtTypes              object
 59  TimeAfterBootcamp            object
 60  HackathonReasons             object
 61  AgreeDisagree1               object
 62  AgreeDisagree2               object
 63  AgreeDisagree3               object
 64  LanguageWorkedWith           object
 65  LanguageDesireNextYear       object
 66  DatabaseWorkedWith           object
 67  DatabaseDesireNextYear       object
 68  PlatformWorkedWith           object
 69  PlatformDesireNextYear       object
 70  FrameworkWorkedWith          object
 71  FrameworkDesireNextYear      object
 72  IDE                          object
 73  OperatingSystem              object
 74  NumberMonitors               object
 75  Methodology                  object
 76  VersionControl               object
 77  CheckInCode                  object
 78  AdBlocker                    object
 79  AdBlockerDisable             object
 80  AdBlockerReasons             object
 81  AdsAgreeDisagree1            object
 82  AdsAgreeDisagree2            object
 83  AdsAgreeDisagree3            object
 84  AdsActions                   object
 85  AdsPriorities1               float64
 86  AdsPriorities2               float64
 87  AdsPriorities3               float64
 88  AdsPriorities4               float64
 89  AdsPriorities5               float64
 90  AdsPriorities6               float64
 91  AdsPriorities7               float64
 92  AIDangerous                  object
 93  AIInteresting                object
 94  AIResponsible                object
 95  AIFuture                     object
 96  EthicsChoice                 object
 97  EthicsReport                 object
 98  EthicsResponsible            object
 99  EthicalImplications          object
 100 StackOverflowRecommend       object
 101 StackOverflowVisit           object
 102 StackOverflowHasAccount      object
 103 StackOverflowParticipate     object
 104 StackOverflowJobs            object
 105 StackOverflowDevStory        object
 106 StackOverflowJobsRecommend   object
 107 StackOverflowConsiderMember  object
 108 HypotheticalTools1           object
 109 HypotheticalTools2           object
 110 HypotheticalTools3           object
 111 HypotheticalTools4           object
 112 HypotheticalTools5           object
 113 WakeTime                     object
 114 HoursComputer                object
 115 HoursOutside                 object
 116 SkipMeals                    object
 117 ErgonomicDevices             object
 118 Exercise                     object
 119 Gender                       object
 120 SexualOrientation            object
 121 EducationParents             object
 122 RaceEthnicity                object
 123 Age                          object
 124 Dependents                   object
 125 MilitaryUS                   object
 126 SurveyTooLong                object
 127 SurveyEasy                   object
dtypes: float64(41), int64(1), object(86)
memory usage: 33.1+ MB

<h2> Text - preprocessing </h2>

In [10]:
df_train = train[['Country', 'Student', 'Employment', 'FormalEducation', 'UndergradMajor', 'CompanySize','DevType',
                  'YearsCoding','YearsCodingProf',
                  'UpdateCV','Currency','Salary','CurrencySymbol','CommunicationTools',
                  'TimeFullyProductive','EducationTypes','SelfTaughtTypes','HackathonReasons',
                  'LanguageWorkedWith','DatabaseWorkedWith',
                  'PlatformWorkedWith','FrameworkWorkedWith'
                  ,'NumberMonitors','Methodology','AIDangerous'
                  ,'AIResponsible','WakeTime','HoursOutside','Exercise','Gender',
                  'EducationParents','Age','Dependents']]
df_test = test[['Country', 'Student', 'Employment', 'FormalEducation', 'UndergradMajor', 'CompanySize','DevType',
                  'YearsCoding','YearsCodingProf',
                  'UpdateCV','Currency','CurrencySymbol','CommunicationTools',
                  'TimeFullyProductive','EducationTypes','SelfTaughtTypes','HackathonReasons',
                  'LanguageWorkedWith','DatabaseWorkedWith',
                  'PlatformWorkedWith','FrameworkWorkedWith'
                  ,'NumberMonitors','Methodology','AIDangerous'
                  ,'AIResponsible','WakeTime','HoursOutside','Exercise','Gender',
                  'EducationParents','Age','Dependents']]
df_train.head(2)
df_test.head(2)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33857 entries, 0 to 33856
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              33857 non-null  object
 1   Student              33563 non-null  object
 2   Employment           33741 non-null  object
 3   FormalEducation      33370 non-null  object
 4   UndergradMajor       30154 non-null  object
 5   CompanySize          29075 non-null  object
 6   DevType              33624 non-null  object
 7   YearsCoding          33843 non-null  object
 8   YearsCodingProf      33341 non-null  object
 9   UpdateCV             32501 non-null  object
 10  Currency             30564 non-null  object
 11  Salary               33857 non-null  float64
 12  CurrencySymbol       33857 non-null  object
 13  CommunicationTools   30200 non-null  object
 14  TimeFullyProductive  28310 non-null  object
 15  EducationTypes       32552 non-null  object
 16  SelfTaughtTypes      28588 non-null  object
 17  HackathonReasons     12918 non-null  object
 18  LanguageWorkedWith   32984 non-null  object
 19  DatabaseWorkedWith   28833 non-null  object
 20  PlatformWorkedWith   28677 non-null  object
 21  FrameworkWorkedWith  23106 non-null  object
 22  NumberMonitors       32922 non-null  object
 23  Methodology          27510 non-null  object
 24  AIDangerous          28675 non-null  object
 25  AIResponsible        30188 non-null  object
 26  WakeTime             32676 non-null  object
 27  HoursOutside         32610 non-null  object
 28  Exercise             32663 non-null  object
 29  Gender               31592 non-null  object
 30  EducationParents     30832 non-null  object
 31  Age                  31840 non-null  object
 32  Dependents           31293 non-null  object
dtypes: float64(1), object(32)
memory usage: 8.5+ MB

In [11]:
def clean_country(country):
  country = str(country).lower()
  country = re.sub(r'\...','', country)
  country = re.sub(r'â€™','', country)
  return country

df_train['FormalEducation'] = df_train['FormalEducation'].apply(clean_country)

df_train['UpdateCV'] = df_train['UpdateCV'].apply(clean_country)
df_train['SelfTaughtTypes'] = df_train['SelfTaughtTypes'].apply(clean_country)
df_train['EducationParents'] = df_train['EducationParents'].apply(clean_country)

df_test['FormalEducation'] = df_test['FormalEducation'].apply(clean_country)

df_test['UpdateCV'] = df_test['UpdateCV'].apply(clean_country)
df_test['SelfTaughtTypes'] = df_test['SelfTaughtTypes'].apply(clean_country)
df_test['EducationParents'] = df_test['EducationParents'].apply(clean_country)

df_test.head(2)
df_train.head(2)

   Country Student  ...                Age Dependents
0  Nigeria      No  ...  35 - 44 years old        Yes
1   France      No  ...  35 - 44 years old        Yes

[2 rows x 33 columns]

In [12]:
df_train['Currency'].fillna('missing', inplace = True)
df_test['Currency'].fillna('missing', inplace = True)
df_train.head(10)

              Country Student  ...                 Age Dependents
0             Nigeria      No  ...   35 - 44 years old        Yes
1              France      No  ...   35 - 44 years old        Yes
2      United Kingdom      No  ...   35 - 44 years old         No
3  Russian Federation      No  ...   25 - 34 years old        Yes
4             Germany      No  ...  Under 18 years old         No
5            Malaysia      No  ...   25 - 34 years old         No
6       United States      No  ...   25 - 34 years old         No
7              Poland      No  ...   25 - 34 years old         No
8      United Kingdom      No  ...   25 - 34 years old        Yes
9             Germany      No  ...   18 - 24 years old         No

[10 rows x 33 columns]

In [13]:
def min_exp(exp):
    val = re.sub(r'\-',' ',str(exp))
    val = val.split(' ')
    val = str(val[0])
    return val 

df_train['min_exp'] = df_train['YearsCoding'].apply(min_exp)
df_test['min_exp'] = df_test['YearsCoding'].apply(min_exp)

df_test['min_exp'].replace('', np.nan, inplace=True)
df_train['min_exp'].replace('', np.nan, inplace=True)
print(df_train['min_exp'].head(20))

0     18
1     18
2     27
3      9
4      6
5      6
6      6
7     18
8     12
9      9
10     6
11     3
12    15
13    12
14    18
15     3
16     6
17     0
18     3
19    21
Name: min_exp, dtype: object

In [14]:
def min_exp_pro(exp):
  val = re.sub(r'\-',' ',str(exp))
  val = val.split(' ')
  val = str(val[0])
  return val

df_train['min_exp_pro'] = df_train['YearsCodingProf'].apply(min_exp_pro)
df_test['min_exp_pro'] = df_test['YearsCodingProf'].apply(min_exp_pro)

df_train['min_exp_pro'].replace('', np.nan, inplace=True)

df_train['min_exp_pro'].head(20)

0       6
1      18
2      15
3       9
4       0
5       6
6       6
7       9
8       3
9       3
10      6
11      0
12     15
13     12
14     15
15      0
16      3
17    nan
18      3
19     18
Name: min_exp_pro, dtype: object

In [15]:
df_train.dropna(subset=['min_exp_pro'],inplace= True)
print(df_train['min_exp_pro'])

0         6
1        18
2        15
3         9
4         0
         ..
33852     3
33853     0
33854    12
33855     3
33856    12
Name: min_exp_pro, Length: 33857, dtype: object

In [16]:
df_train = df_train[~df_train['CompanySize'].isin(['Fewer than 10 employees'])]
df_train['CompanySize'].head(10)

0                          NaN
1     10,000 or more employees
2                          NaN
3         100 to 499 employees
4                          NaN
5                          NaN
6           20 to 99 employees
7     1,000 to 4,999 employees
9           20 to 99 employees
10    10,000 or more employees
Name: CompanySize, dtype: object

In [17]:
df_train.dropna(subset = ['CompanySize'],inplace = True)
df_train['CompanySize'].head(10)

1     10,000 or more employees
3         100 to 499 employees
6           20 to 99 employees
7     1,000 to 4,999 employees
9           20 to 99 employees
10    10,000 or more employees
11        100 to 499 employees
13          10 to 19 employees
14        500 to 999 employees
15          20 to 99 employees
Name: CompanySize, dtype: object

In [18]:
def company(exp):
    val = re.sub(r'\to',' ',str(exp))
    val = val.split(' ')
    val = str(val[0])
    return val


df_train['company'] = df_train['CompanySize'].apply(company)
df_test['company'] = df_test['CompanySize'].apply(company)

print(df_train['company'])

1        10,000
3           100
6            20
7         1,000
9            20
          ...
33850     5,000
33851        10
33852     1,000
33853     1,000
33856    10,000
Name: company, Length: 26262, dtype: object

In [19]:
df_train['Student'].replace('', np.nan, inplace=True)
df_train.dropna(subset=['Student'], inplace=True)
print(df_train['Student'])

1                    No
3                    No
6                    No
7                    No
9                    No
              ...
33850    Yes, part-time
33851    Yes, full-time
33852    Yes, part-time
33853    Yes, full-time
33856    Yes, part-time
Name: Student, Length: 26076, dtype: object

In [20]:
df_train['UndergradMajor'].replace('', np.nan, inplace=True)
df_train.dropna(subset=['UndergradMajor'], inplace=True)
print(df_train['UndergradMajor'])

1        A natural science (ex. biology, chemistry, phy...
3        Computer science, computer engineering, or sof...
6        Computer science, computer engineering, or sof...
7        Computer science, computer engineering, or sof...
9        Computer science, computer engineering, or sof...
                               ...
33850    Another engineering discipline (ex. civil, ele...
33851    Computer science, computer engineering, or sof...
33852    A natural science (ex. biology, chemistry, phy...
33853    Another engineering discipline (ex. civil, ele...
33856    Another engineering discipline (ex. civil, ele...
Name: UndergradMajor, Length: 23824, dtype: object

In [21]:
df_train['DevType'].replace('', np.nan, inplace=True)
df_train.dropna(subset=['DevType'], inplace=True)
print(df_train['DevType'])

1                                       Back-end developer
3        Back-end developer;Desktop or enterprise appli...
6                                       Back-end developer
7        Back-end developer;Front-end developer;Full-st...
9        Back-end developer;Designer;Front-end develope...
                               ...
33850                                 Full-stack developer
33851                                 Full-stack developer
33852    Educator or academic researcher;Student;System...
33853    Back-end developer;DevOps specialist;Student;S...
33856    Back-end developer;Database administrator;Engi...
Name: DevType, Length: 23654, dtype: object

In [22]:
df_train['YearsCoding'].replace('', np.nan, inplace=True)
df_train.dropna(subset=['YearsCoding'], inplace=True)
print(df_train['YearsCoding'])

1        18-20 years
3         9-11 years
6          6-8 years
7        18-20 years
9         9-11 years
            ...
33850      6-8 years
33851     9-11 years
33852      3-5 years
33853      6-8 years
33856    15-17 years
Name: YearsCoding, Length: 23649, dtype: object

In [49]:
null_columns=df_train.columns[df_train.isnull().any()]
df_train[null_columns].isnull().sum()

CommunicationTools      1310
TimeFullyProductive      828
EducationTypes           861
HackathonReasons       14250
LanguageWorkedWith       559
DatabaseWorkedWith      3420
PlatformWorkedWith      3669
FrameworkWorkedWith     7307
NumberMonitors           614
Methodology             3456
AIDangerous             3416
AIResponsible           2403
WakeTime                 782
HoursOutside             820
Exercise                 785
Gender                  1483
Age                     1307
Dependents              1679
dtype: int64

In [27]:

df_train['Salary'].fillna(value=df_train['Salary'].mean(), inplace = True)
df_train['Salary'].head(20)

1     3375
3     1766
6     3577
7     2377
9     2101
10    4425
11     376
13    2197
14    4598
15    1994
16    2101
21    3152
22     822
25    1378
26    1589
27     429
28    1686
30    4136
32    3425
33    1587
Name: Salary, dtype: int64

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_train['Salary'] = le.fit_transform(df_train['Salary'])
print(df_train['Salary'])

1        3375
3        1766
6        3577
7        2377
9        2101
         ...
33850    3425
33851    1709
33852     727
33853    1184
33856    3874
Name: Salary, Length: 23649, dtype: int64

In [48]:
df_train.head(3)

   Country Student          Employment  ... min_exp min_exp_pro company
1       43      No  Employed full-time  ...      18          18  10,000
3      106      No  Employed full-time  ...       9           9     100
6      138      No  Employed full-time  ...       6           6      20

[3 rows x 33 columns]

In [45]:
# df_train = df_train.drop(columns=['CompanySize','YearsCoding','YearsCodingProf'])

KeyError: ignored